/* r.a.d.panelbar 4 Makesys skin */

.RadPanelbar_Makesys
{
	background: white;
	white-space: nowrap;
}

.RadPanelbar_Makesys .rootGroup
{
	border: solid 1px #002d96;
	border-top: 0px;
}

.RadPanelbar_Makesys .text
{
	padding: 0px 20px; /* vertical - horizontal */
	font: bold 11px Trebuchet;
	line-height: 22px;
}

.RadPanelbar_Makesys .image
{
	margin-left: 0px;
	margin-right: 5px;
}


.RadPanelbar_Makesys .rootGroup .link
{
	border-top: solid 1px #002d96;
	background: #7da5e0 url('Img/RootItemBkg.gif') repeat-x;
	color: #10110f;
	text-decoration: none;
}

/* span class="text" */
.RadPanelbar_Makesys .rootGroup .text
{
	font-weight: bold;
}



.RadPanelbar_Makesys .rootGroup .link:hover
{
	background: #ee9515 url('Img/RootItemBkgActive.gif') repeat-x;
}


.RadPanelbar_Makesys .rootGroup .disabled:hover
{
	border-top: solid 1px #002d96;
	background: #7da5e0 url('Img/RootItemBkg.gif') repeat-x;
	color: #10110f;
}

.RadPanelbar_Makesys .group .text
{
	background-color: transparent;
	font-weight: normal;
	padding: 0px 20px; /* vertical-horizontal */
	border: 0px;
}

.RadPanelbar_Makesys .level2 .text
{
	padding-left: 43px;
	line-height: 23px;
}

.RadPanelbar_Makesys .rootGroup .selected .text
{
	background: #ee9515 url('Img/RootItemBkgActive.gif') repeat-x;
}

/* child item link */
.RadPanelbar_Makesys .group .link
{
	background: none;
	border: 0px;
}

/* child item link:hover */
.RadPanelbar_Makesys .group .link:hover,
.RadPanelbar_Makesys .group .selected .text
{
	background: none;
	text-decoration: underline;
}

.RadPanelbar_Makesys .rootGroup .disabled:hover,
.RadPanelbar_Makesys .rootGroup .disabled .text
{
	background: #7da5e0 url('Img/RootItemBkg.gif') repeat-x;
	color: #ccc;
	cursor: default;
}

.RadPanelbar_Makesys .rootGroup .group .disabled:hover,
.RadPanelbar_Makesys .rootGroup .group .disabled .text
{
	border:none;
	text-decoration:none;
	background:none;
	color: #ccc;
	cursor: default;
}
