<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 
		******************************************************************************
		**				Configurações Provider					   					**
		******************************************************************************
			.ConnectionString			:	String de conexão 
											SQL		- server=[servidor];uid=[user];pwd=[password];database=[bancodedados]
											Oracle	- data source=[servidor];User ID=[user];Password=[password]
			.ConnectionString.Aplicacao	:	String de conexão para aplicação, quando for outra base de dados
											SQL		- server=[servidor];uid=[user];pwd=[password];database=[bancodedados]
											Oracle	- data source=[servidor];User ID=[user];Password=[password]
			.ConnectionStringMode		:	Habilita (True) / Desabilita (False) - Utilização de ConnectionString na cama de DataAccess (Remoting)
			.StringsAcesso				:	String que serão carregadas na variavel de aplicação
			.ProviderType				:	Valor do provider para acesso ao banco de dados
											0 - SQLServer 2000/2005DEF
											1 - Oracle
											2 - OLEDB
											4 - FireBird
											5 - Oracle 9.1
			.CommandTimeOut				:	Utilizado para definir o tempo de execução do command
			.TableSpaceOracle			:	Table Space concatenado junto com a execução de procedures no Oracle
			.Remoting					:	Habilita (True) / Desabilita (False)
			.RemotingChannel			:	Modo de funcionamento do Remoting http ou tcp (tcp é mais rápido)
			.RemotingURI				:	Caminho para a URI do DataAcess
			.DebugMode					:	Habilita (True) / Desabilita (False) - Grava Profile de Acesso a Base
			.GravaLog					:	Habilita (True) / Desabilita (False) - Grava Log de Erros
			.LogFile					:	Nome do Arquivo para gravação do Log, na falta, grava no EventLog do Windows
		-->
    <add key="FW.Provider.ProviderType" value="0"/>
    <add key="FW.Provider.StringsAcesso" value=""/>
    <!--<add key="FW.Provider.ConnectionString" value="server=BRZGRUDB02;uid=usr_extranet;pwd=EXTRANET;database=SafWeb;MultipleActiveResultSets=True" />-->
    <add key="FW.Provider.ConnectionString" value="server=BRKMTZ008\sql_2005;uid=usr_safweb;pwd=HHjks3uu9I2Iad2j25;database=SafWeb;MultipleActiveResultSets=True" />
    <add key="FW.Provider.ConnectionString.Aplicacao" value="server=[servidor];uid=[user];pwd=[password];database=[bancodedados]"/>
    <add key="FW.Provider.ConnectionStringMode" value="False"/>
    <add key="FW.Provider.CommandTimeOut" value="0"/>
    <add key="FW.Provider.TableSpaceOracle" value=""/>
    <add key="FW.Provider.Remoting" value="False"/>
    <add key="FW.Provider.RemotingChannel" value="http"/>
    <add key="FW.Provider.RemotingURI" value="http://[ip]:[porta]/[nomedoservico]"/>
    <add key="FW.Provider.DebugMode" value="False"/>
    <add key="FW.Provider.GravaLog" value="False"/>
    <add key="FW.Provider.LogFile" value=""/>
    <!-- 
		******************************************************************************
		**				Configurações Sistema				    					**
		******************************************************************************
			.GravaLog				:	Grava Log (1 - Grava log, 0 - Não grava) 
			.VerificaDB				:	Habilita (True) / Desabilita (False) - Verificação de Banco Ativo
			.Manutencao				:	Habilita (True) / Desabilita (False) - FrameWork Manutenção
			.ExibirErroOriginal		:	Habilita (True) / Desabilita (False) - Exibir a mensagem de erro original da exceção
			.UrlPaginaErro			:	url da mensagem de Erro
			.UrlPaginaAcesso		:	url da mensagem de Acesso
			.UrlPaginaErroAdm		:	url da mensagem de Erro Admin
			.UrlPaginaAcessoAdm		:	url da mensagem de Acesso Admin
			.UrlPaginaErroPopup		:	url da mensagem de Popup
			.UrlPaginaErroAjax		:	url da mensagem de Ajax
			.Path Relativo			:	path relativo do site, se não tiver pega automaticamente
			.DataGrid.PageSize		:	Defini a qtde de registros no datagrid
			.ErrosDebug				:	Habilita (True) / Desabilita (False) - Erros em tela (1 - exibe tela de Erro, 0 - Não exibe)
			.CompressViewState		:	Habilita (True) / Desabilita (False) - Zipar ViewState
			.InterfaceExportacao	:	0 - Normal / 1 - InterfaceExportacao - Exportação Word/Excel
			.InterfaceGroupBy		:	0 - Normal / 1 - InterfaceGroupBy - Agrupamento de Campos
			.InterfaceLoadPanel		:	Habilita (True) / Desabilita (False) - Habilita Ajax LoadPanel
		-->
    <add key="FW.Sistema.GravaLog" value="True"/>
    <add key="FW.Sistema.VerificaDB" value="False"/>
    <add key="FW.Sistema.Manutencao" value="False"/>
    <add key="FW.Sistema.ExibirErroOriginal" value="True"/>
    <add key="FW.Sistema.UrlPaginaErro" value="~/Erro.aspx"/>
    <add key="FW.Sistema.UrlPaginaAcesso" value="~/Acesso.aspx"/>
    <add key="FW.Sistema.UrlPaginaErroAdm" value="~/ErroAdm.aspx"/>
    <add key="FW.Sistema.UrlPaginaAcessoAdm" value="~/AcessoAdm.aspx"/>
    <add key="FW.Sistema.UrlPaginaErroPopup" value="~/ErroPopup.aspx"/>
    <add key="FW.Sistema.UrlPaginaErroAjax" value="~/ErroAjax.aspx"/>
    <add key="FW.Sistema.PathRelativo" value=""/>
    <add key="FW.Sistema.ErrosDebug" value="True"/>
    <add key="FW.Sistema.DataGrid.PageSize" value="10"/>
    <add key="FW.Sistema.CompressViewState" value="False"/>
    <add key="FW.Sistema.InterfaceExportacao" value="1"/>
    <add key="FW.Sistema.InterfaceGroupBy" value="1"/>
    <add key="FW.Sistema.InterfaceLoadPanel" value="True"/>
    <!-- 
		******************************************************************************
		**				Configurações Seguranca				    					**
		******************************************************************************
			.Permissoes					:	Controle de Permissões de Acesso 
											Leitura = L
											Inclusão = I
											Exclusao = E
											Alteração = A
			.VerificaAcesso				:	Habilita (True) / Desabilita (False) - Verificação de Acessos
			.AcessoAdmRetornoDefault	:	Habilita (True) / Desabilita (False) - Retorno acesso admin p/default
			.AcessoDefault				:	Habilita (True) / Desabilita (False) - Controle Acesso default
			.SuperGrupo					:	Habilita (True) / Desabilita (False) - Controle Super Grupo / Multi Empresas / Multi Sistemas
			.Impersonate				:	Habilita (True) / Desabilita (False) - Impersonate para gravação em disco
			.Impersonate.User			:	Usário do Impersonate (criptografado RSA)
			.Impersonate.Password		:	Password do Impersonate (criptografado RSA)
			.Impersonate.Dominio		:	Domínio (criptografado RSA) 
		-->
    <add key="FW.Seguranca.Permissoes" value="L,Leitura;I,Inclusão;E,Exclusão;A,Alteração"/>
    <add key="FW.Seguranca.VerificaAcesso" value="false"/>
    <add key="FW.Seguranca.AcessoAdmRetornoDefault" value="True"/>
    <add key="FW.Seguranca.AcessoDefault" value="TRUE"/>
    <add key="FW.Seguranca.SuperGrupo" value="True"/>
    <add key="FW.Seguranca.Impersonate" value="False"/>
    <add key="FW.Seguranca.Impersonate.User" value="uKcf3VO9oqkvtoXdo4kFSNvUW8OGN0kiitGwCYkfkOnXyDxV0F3j67V0iOq0oFhg6byvdu3IriAb4VI1Wj98zAiSToIXSSZIIKQV/ywG095xk8MCtXY5nAEgHtw8Mx0Nx5ezIPRnTDU4yWKXqEZDrAZuu6xi5gGWwwD0RfQjAyE="/>
    <add key="FW.Seguranca.Impersonate.Password" value="IRsrAKn9Pd885tr9q2CSnlpNWqdAWoruIxDcw0AuFwIANvPBbhYWk+JsqA2ajhSJfB7okh/KCeFEqvBDSfEt03GnbIY9y6mq8XXMeiGqfOvfbsDrFZ0dKitP3sN7lTkjlQy+6ilJ7ff9EZ4QzxLezOPrhqMo0QtxzT/QaU5dQFw="/>
    <add key="FW.Seguranca.Impersonate.Dominio" value="r8yqcQ4Xf8gE7axanjXp7HNSJsfh87xX2Q1q1Vld0du6i/alXyyYA5CZ0sDkjVvGmtNAOqmxa/T3pgw68TBD4w5KI9vVSzFKq5CQvrG1jvDCfRMmT20VBe5BcCbQJz3fK9URRzNlSPGEraqfjJJMHbfqnIULgsiErVxR1m7HE6Q="/>
    <!-- 
		******************************************************************************
		**				Configurações Proxy					    					**
		******************************************************************************
			.PassByProxy			:	Habilita (True) / Desabilita (False)
			.Name					:	Nome do Servidor de Proxy
			.ConnectionPort			:	Porta de Conexão
			.UsesCredential			:	Se usa Usuário para logar no Proxy
			.Credential.Domain		:	Dominio do Usuário
			.Credential.Username	:	User Name
			.Credential.Password	:	Password
			obs: Dominio, User e Password são criptografados 
		-->
    <add key="FW.Proxy.PassByProxy" value="true"/>
    <add key="FW.Proxy.Name" value=""/>
    <add key="FW.Proxy.ConnectionPort" value=""/>
    <add key="FW.Proxy.UsesCredential" value="true"/>
    <add key="FW.Proxy.Credential.Domain" value="latam"/>
    <add key="FW.Proxy.Credential.Username" value="mtzadriano"/>
    <add key="FW.Proxy.Credential.Password" value=""/>
    <!-- 
		******************************************************************************
		**				Configurações Email			    							**
		******************************************************************************
			.CorpoEmail.EsqueciMinhaSenha	:	Corpo do Email Esqueci Minha Senha
			.Destinatario					:	Endereço do destinatário das mensagens de email
			.SMTP							:   Nome do Servidor de SMTP - Nos ambiente que não seja WEB, ele pega este SMTP para enviar Email
		-->
    <add key="FW.Email.CorpoEmail.EsqueciMinhaSenha" value="1"/>
    <add key="FW.Email.Destinatario" value="framework@makesys.com.br"/>
    <add key="FW.Email.SMTP" value="10.31.0.3"/>
    <!-- 
		******************************************************************************
		**				Configurações Idiomas			    						**
		******************************************************************************
			.Idioma				:	Habilita Modulo de Idiomas
			.IdiomaDefault		:	Idioma Default - Tabela de Idiomas
			.ControleIdioma		:   Controle Idioma - 0 - Usuários, 1 - Bandeiras, 2 - Mista
			.CaminhoXMLTraducao	:	Caminho Fisico XML Traduções
		-->
    <add key="FW.Idiomas.Idioma" value="True"/>
    <add key="FW.Idiomas.IdiomaDefault" value="pt-BR"/>
    <add key="FW.Idiomas.ControleIdioma" value="2"/>
    <add key="FW.Idiomas.CaminhoXMLTraducao" value="\XML\Idiomas\"/>
    <!-- 
		******************************************************************************
		**				Configurações Menus				    						**
		******************************************************************************
			.CaminhoImagens		:	Diretório onde se encontra as imagens dos Menus
			.CaminhoMenuXML		:	Diretório onde se encontra o XML de context do menu
			.NomeMenuXML		:   Nome do xml de context do menu
			.CacheMenu			:	Verifica Cache (1 - Usa Cache, 0 - Não Usa)
		-->
    <add key="FW.Menus.CaminhoImagens" value="Imagens/icones/Menus/"/>
    <add key="FW.Menus.NomeMenuXML" value="MenuTemplate.xml"/>
    <add key="FW.Menus.CaminhoMenuXML" value="Admin/Menu"/>
    <add key="FW.Menus.CacheMenu" value="True"/>
    <!-- 
		******************************************************************************
		**				Configurações RadControls		    						**
		******************************************************************************
		-->
    <add key="Telerik.WebControls.RadControlsDir" value="~/RadControls/"/>
  </appSettings>
  <!-- 
	******************************************************************************
	**				Configurações de Erros para Remoting						**
	******************************************************************************
	-->
  <system.web>
    <!-- 
		******************************************************************************
		**				Configurações de Compilação									**
		******************************************************************************
		-->

    <pages enableEventValidation="false"/>

    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>

    </httpHandlers>

    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </httpModules>

    <compilation defaultLanguage="c#" debug="true">

      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>

        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

        <add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!-- 
		******************************************************************************
		**				Configurações de Erros										**
		******************************************************************************
			.404 - Página não encontrada
			.403 - Acesso negado
			.500 - Erro no servidor
		-->
    <customErrors mode="RemoteOnly">
    </customErrors>
    <!-- 
		******************************************************************************
		**				Configurações Autenticação									**
		******************************************************************************
			.Autenticação via windows 
										<authentication mode="Windows" />
											<authorization>
												<deny users="?" />
												<allow users="*" />
											</authorization>
			.Autenticação via forms 
										<authentication mode="Forms">
											<forms name=".ASPXAUTH" protection="All" timeout="60" />
										</authentication>
		-->
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" protection="All" timeout="60"/>
    </authentication>
    <!-- 
		******************************************************************************
		**				Configurações de Session									**
		******************************************************************************
		-->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
    <!-- 
		******************************************************************************
		**				Configurações de httpHuntime									**
		******************************************************************************
		-->
    <httpRuntime useFullyQualifiedRedirectUrl="true"/>
    <!-- 
		******************************************************************************
		**				Configurações de Globalization									**
		******************************************************************************
		-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-BR" uiCulture="pt-BR"/>
    <xhtmlConformance mode="Legacy"/>
  </system.web>

  <system.codedom>
  </system.codedom>
  <system.webServer>

    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>

    <security>
      <requestFiltering>
        <requestLimits maxQueryString="2048" maxUrl="1024"  maxAllowedContentLength="30000000" >
          <headerLimits>
            <add header="Content-type" sizeLimit="100" />
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>